*, *:before, *:after {
  box-sizing: border-box;
  /* outline: 1px black solid; */
  padding: 0;
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 auto;
}

.container .navbar .nav-image {
  width: 200px;
}

.container .navbar .nav-items {
  display: flex;
  list-style: none;
  font-weight: 500;
}

.container .navbar .nav-items .navitem {
  padding-right: 60px;
}

.container .navbar .nav-items .navitem-shop {
  padding-left: 10px;
}

.container .navbar .nav-items .navitem-shop:hover {
  transform: rotateZ(50deg);
  transition: ease-in-out 0.6s;
}

.container .navbar .nav-items .navbtn {
  text-decoration: none;
  color: #3F5D45;
}

.container .navbar .nav-items .navbtn:hover {
  color: black;
}

.container .jumbotron {
  margin-bottom: 60px;
}

.container .main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container .main .choose {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .main .choose .choose-list {
  list-style: none;
  font-weight: 500;
  font-size: 24px;
  margin-right: 20px;
}

.container .main .choose .choose-list .chooseitem {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #EAF0ED solid;
}

.container .main .choose .choose-list .chooseitem .choose-btn {
  text-decoration: none;
  color: #3F5D45;
}

.container .main .choose .choose-list .choose-body:hover {
  background-color: #EAF0ED;
}

.container .main .choose .choose-list .choose-head {
  background-color: #3F5D45;
  color: white;
}

.container .main .product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.container .main .product .product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container .main .product .product-list .productitem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.container .main .product .product-list .productitem:hover {
  transition: ease-in 0.2s;
  opacity: 0.85;
}

.container .main .product .product-list .productitem .product-list-word {
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 56px;
  font-size: 20px;
  align-items: center;
}

.container .main .product .product-list .productitem .product-list-word .product-list-word-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px #EAF0ED solid;
}

.container .main .product .product-list .productitem .addtocart {
  display: flex;
  height: 65px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #3F5D45;
  background-color: #EAF0ED;
}

.container .main .product .product-list .productitem .addtocart:hover {
  background-color: #3F5D45;
  color: white;
}

.container .main .product .product-list .productitem .flag {
  position: absolute;
  left: 20px;
  width: 36px;
  height: 106px;
  color: white;
  background-color: #3F5D45;
  writing-mode: vertical-lr;
  text-align: center;
  padding-left: 6px;
  letter-spacing: 5px;
}

.container .main .product .product-list .productitem .flag:hover {
  top: -5px;
  transition: ease-in-out 10s;
  opacity: 0.8;
}

.container .main .product .product-list .productitem .love {
  position: absolute;
  top: 19px;
  right: 22px;
  width: 20px;
  border-radius: 100%;
}

.container .main .product .product-list .productitem .love:hover {
  width: 30px;
  transition: ease-in-out 0.15s;
  transform: rotateZ(30deg);
  opacity: 0.9;
}

.container .pages {
  display: flex;
  justify-content: flex-end;
}

.container .pages .page-box {
  width: 60px;
  height: 60px;
  border: 1px solid #EAF0ED;
  color: #3F5D45;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 10px;
}

.container .pages .page-box:hover {
  background-color: #3F5D45;
  color: white;
}
